@charset "utf-8";

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
:root{
    --side--max:1140px;
    --inner--max:700px;
    --each--max:570px;
    --border--color:rgb(185, 182, 182);
    --fontsize--menu:60px;
}
a :hover{
    cursor: pointer;
}
/*全体*/
.container{
    margin:0 auto;
}
/*へダー*/
header{
    height:50px;
    width:100%;
    color: white;
    background-color: black;
    border-bottom: solid 3px var(--border--color);
    position: fixed;
}
.headWrapper{
    max-width:var(--side--max);
    height:50px;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.headMenu{
    display:flex;
}
.icon{
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.headMenu a{
    color: white;
    margin-right:35px;
}
.humberger{
    display:none;
    font-size:25px;
}
.headMenu_hum{
    display:none;
}
.open{
    display: block;
}

/*メイン_背景画像*/
.backImg{
    height:500px;
    margin:0 auto;
    background-image: url("/Users/atsuo/Desktop/WEB_Dev/Camp PJ No1/Img/fv-bgi@2x.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}
.backImg h1{
    color: white;
    display: inline-block;
    border: solid 2px white;
    font-size:var(--fontsize--menu);
    padding:30px 60px;
}
/*メイン_ABOUT*/
.about{
    max-width:var(--side--max);
    margin:0 auto;
}
.main h1{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
    font-size:var(--fontsize--menu);
}
.main h2{
    margin-bottom: 40px;
}
/*メイン_Services*/
.serviceTop{
    max-width: var(--side--max);
    margin: 0 auto;
}
.services{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction:row;
}
.service{
    width: var(--each--max);
    margin-bottom: 30px;
}
.child_2{
    order: -1;
}

/*メイン_News*/
.newsList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.news{
    width: 325px;
    border: solid 2px var(--border--color);
    padding:0;
    text-align: center;
    margin-right: 30px;
    margin-bottom: 50px;
}
.news p{
    color: black;
    width: 320px;
    text-align: left;
}
/*メイン_Contact*/
.inqueryForm{
    max-width:var(--inner--max);
    margin:0 auto;
    text-align: left;
}
.inqueryForm input{
    margin-bottom: 30px;
    width:100%;
    height: 30px;
}
.inqueryForm textarea{
    margin-bottom: 30px;
    width:100%;
}
.btnWrapper{
    margin-bottom: 100px;
    width:30%;
    margin:0 auto;
}
.btn{
    color: white;
    background-color: black;
    border-radius: 20px;
}
.inqueryForm span{
    color: red;
}
/*フッター*/
footer{
    height: 30px;
    text-align: center;
    background-color: black;
    color: white;
}